<div *ngIf="isVisible || isClosing" class="fixed inset-0 z-[999] transition-opacity duration-300 ease-in-out" [ngClass]="{'opacity-100': isVisible, 'opacity-0': isClosing}">
    <div class="fixed inset-0 bg-black opacity-50"></div>
    <div class="fixed top-0 right-0 h-full w-64 bg-black shadow-lg transform transition-all duration-300 ease-in-out"
        [ngClass]="{'animate-slideIn': isVisible, 'animate-slideOut': isClosing}">
        <button 
            (click)="closeSidebar(true)" 
            class="absolute top-8 right-4 text-white hover:text-gray-300"
            [ngClass]="{'animate-spin': isSpinning, 'animate-none': !isSpinning}">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button>
        <div class="p-6 pt-16">
            <nav class="space-y-4">
                <a routerLink="/dashboard" (click)="closeSidebar()" class="block py-2 px-4 text-white hover:bg-gray-800 rounded"> Home </a>
                <a routerLink="/profile" (click)="closeSidebar()" class="block py-2 px-4 text-yellow-100 hover:bg-gray-800 rounded"> Profile </a>
                <a routerLink="/tables" (click)="closeSidebar()" class="block py-2 px-4 text-yellow-200 hover:bg-gray-800 rounded"> Contact </a>
            </nav>
        </div>
    </div>
</div>