<div class="relative z-10">
  <app-sidebar 
    [isVisible]="isSidebarVisible" 
    (close)="toggleSidebar()">
  </app-sidebar>
  <nav class="bg-black border-b-4 rgb-border-bottom">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://raw.githubusercontent.com/omele7/figbii-ab-testing/refs/heads/main/Loguito.png" alt="Loguito" class="w-14 h-16"/>
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Welcome!</span>
      </a>
      <button (click)="toggleSidebar()" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLink="/dashboard" class="block py-2 px-3 text-white hover:bg-gray-700 hover:text-yellow-100 rounded-lg" aria-current="page">Home</a>
          </li>
          <li>
            <a routerLink="/profile" class="block py-2 px-3 text-yellow-100 hover:bg-gray-700 hover:text-yellow-300 rounded-lg" aria-current="page">Profile</a>
          </li>
          <li>
            <a routerLink="/tables" class="block py-2 px-3 text-yellow-200 hover:bg-gray-700 hover:text-yellow-500 rounded-lg" aria-current="page">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>