<div class="relative z-0">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <div class="col-span-4 sm:col-span-3">
                <div class="bg-white shadow rounded-lg p-6">
                    <div class="flex flex-col items-center">
                        <img src="" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0"/>
                        <h1 class="text-xl font-bold">Diego Cabrera</h1>
                        <p class="text-gray-700">Estudiante de Ingeniería de Software</p>
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <a routerLink="/tables" class="bg-orange-300 hover:bg-orange-400 text-white py-2 px-4 rounded">Contact</a>
                            <a routerLink="/dashboard" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">Experience</a>
                        </div>
                    </div>
                    <hr class="my-6 border-t border-gray-300">
                    <div class="flex flex-col">
                        <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">Información personal</span>
                        <ul>
                            <li class="mb-2">Nombre completo: Cabrera Buitron, Diego Ivan </li>
                            <li class="mb-2">Edad: 20 años </li>
                            <li class="mb-2">Estudiante de 7mo ciclo de la carrera de Ingeniería de Software de la UPC </li>
                            <li class="mb-2">Ubicación: Lima, Lima, Puente Piedra</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-span-4 sm:col-span-9">
                <div class="bg-white shadow rounded-lg p-6">
                    <h2 class="text-xl font-bold mb-4">About Me</h2>
                    <p class="text-gray-700">Mi nombre es Diego Cabrera, soy estudiante del séptimo ciclo de la carrera de Ingeniería de Software en la Universidad Peruana de Ciencias Aplicadas. Me destaco por ser una persona cooperativa, entusiasta y proactiva, especialmente en entornos de trabajo en equipo, donde siempre busco contribuir al logro de los objetivos comunes. En cuanto a conocimientos técnicos, tengo experiencia con lenguajes de programación como Python, C++, Java, entre otros. También estoy familiarizado con bases de datos relacionales y no relacionales, utilizando herramientas como MySQL Workbench y MongoDB. Además, manejo diversas herramientas tecnológicas, como Microsoft Office (Word, Excel, PowerPoint), Cisco Packet Tracer, Autodesk Maya y Photoshop CS6, entre otras. Mis habilidades blandas incluyen el trabajo en equipo, la adaptabilidad en el transcurso de algún proyecto, la resolución de problemas y la gestión de mi tiempo. </p>
                    <h2 class="text-xl font-bold mt-6 mb-4">Experience</h2>
                    <div class="mb-6">
                        <p class="mt-2">
                            Estoy desarrollando una aplicación móvil similar a Rappi como proyecto personal, utilizando flutter como framework y vscode como IDE. 
                        </p>
                    </div>
                    <div class="mb-6">
                        <p class="mt-2">
                            He desarrollado esta aplicación web utilizando el framework Angular que, gracias a su sistema de enrutamiento, me ha permitido construir esta SPA (Single Page Application). Además, he implementado TailwindCSS como framework de estilos para diseñar una interfaz moderna y completamente responsive. 
                        </p>
                    </div>
                    <div class="mb-6">
                        <p class="mt-2">
                            He participado en la creación de proyectos utilizando los frameworks de Angular y de Prime Vue como parte de mis trabajos universitarios; estos se realizaron y subieron a un repositorio de las organizaciones que comparto en GitHub. 
                        </p>
                    </div>
                    <div class="mb-6">
                        <p class="mt-2">
                            He gestionado una base de datos como parte de mis proyectos uniresitarios, utilizando MySQL Workbench y MongoDB para almacenar y gestionar la información de una empresa ficticia.
                        </p>
                    </div>
                    <div class="mb-6">
                        <p class="mt-2">
                            He desarrollado modelos en 3D utilizando Autodesk Maya y Photoshop CS6 para la creación de personajes y escenarios como parte de mis trabajos universitarios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>