
<div class="relative z-10">
<footer class="bg-black border-t-4 rgb-border">
    <div class=" max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://raw.githubusercontent.com/omele7/figbii-ab-testing/refs/heads/main/Loguito.png" class="h-8" alt="Flowbite Logo" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0 ">
                <li>
                    <a href="https://www.instagram.com/diego.cabrerab/" class="hover:underline me-4 md:me-6" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://github.com/omele7" class="hover:underline me-4 md:me-6" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/diego-ivan-cabrera-buitron-912210263/" class="hover:underline me-4 md:me-6" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://github.com/omele7" class="hover:underline">omele7</a>. All Rights Reserved.</span>
    </div>
</footer>
</div>
