<div class="floating-shapes-container z-10">
    <div *ngFor="let shape of shapes; "
        class="floating-shape"
        [ngStyle]="{
            'top': shape.y + 'px',
            'left': shape.x + 'px',
            'width': shape.size + 'px',
            'height': shape.size + 'px',
            'background-color': shape.color,
            'transform': 'rotate(' + shape.rotation + 'deg)'
        }"
        [class.shape-icosahedron]="shape.type === 'icosahedron'"
        [class.shape-dodecahedron]="shape.type === 'dodecahedron'"
        [class.shape-pentagon]="shape.type === 'pentagon'">
    </div>
</div> 