<div class="min-h-screen relative z-0">
    <div class="text-black mx-auto py-8 relative z-0">
        <div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
            <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">Habilidades técnicas</h2>
            <p class="mb-12 text-lg text-gray-600">Mi experciencia en este mundo tecnológico.</p>
            <div class="w-full">
                <div class="flex flex-col w-full mb-10 sm:flex-row">    
                    <div class="relative w-full mb-10 sm:mb-0 sm:w-1/2">
                        <div class="relative h-full ml-0 mr-0 sm:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-stone-600 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-stone-600 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Lenguajes de Programación</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-stone-600 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ JavaScript/TypeScript</li>
                                    <li>▹ Python</li>
                                    <li>▹ Java</li>
                                    <li>▹ C#</li>
                                    <li>▹ C++</li>
                                    <li>▹ Dart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-1/2">
                        <div class="relative h-full ml-0 md:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-pink-700 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-pink-700 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Desarrollo Frontend</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-pink-700 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ Angular Framework</li>
                                    <li>▹ HTML 5</li>
                                    <li>▹ CSS 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full mb-10 sm:flex-row">
                    <div class="relative w-full mb-10 sm:mb-0 sm:w-1/2">
                        <div class="relative h-full ml-0 mr-0 sm:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-yellow-600 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-yellow-600 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Desarrollo Backend</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-yellow-600 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ Spring Boot</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-1/2">
                        <div class="relative h-full ml-0 md:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-teal-700 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-teal-700 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Habilidades blandas</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-teal-700 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ Trabajo en equipo</li>
                                    <li>▹ Comunicación efectiva</li>
                                    <li>▹ Gestionamiento de tiempo</li>
                                    <li>▹ Adaptabilidad</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full mb-16 sm:flex-row">
                    <div class="relative w-full mb-10 sm:mb-0 sm:w-1/2">
                        <div class="relative h-full ml-0 mr-0 sm:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-600 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-green-600 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Bases de Datos</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-green-600 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ Microsoft SQL Server</li>
                                    <li>▹ MongoDB</li>
                                    <li>▹ PostgreSQL</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-1/2">
                        <div class="relative h-full ml-0 md:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-700 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-blue-700 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Herramientas tecnológicas</h3>
                                </div>
                                <p class="mt-3 mb-1 text-xs font-medium text-blue-700 uppercase">------------</p>
                                <ul class="mb-2 text-gray-600 space-y-2">
                                    <li>▹ Canvas</li>
                                    <li>▹ Figma</li>
                                    <li>▹ Microsoft Word</li>
                                    <li>▹ Microsoft Excel</li>
                                    <li>▹ Microsoft Power Point</li>
                                    <li>▹ Photoshop CS6</li>
                                    <li>▹ Wondershare Filmora X</li>
                                    <li>▹ Programa de grabación Action Recorder</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-700 lg:my-8 border-4"/>
            <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-800">Proyectos realizados</h2>
            <p class="mb-12 text-lg text-gray-600">Proyectos personales y colaborativos realizados en Angular y en Prime Vue.</p>
            <div class="w-full">
                <div class="flex flex-col w-full mb-10 sm:flex-row">    
                    <div class="relative w-full mb-10 sm:mb-0 sm:w-1/2">
                        <div class="relative h-full ml-0 mr-0 sm:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-rose-500 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-rose-500 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Página web creada con WordPress</h3>
                                </div>
                                <p class="mt-3 mb-1 text-3xs font-semibold text-gray-700 uppercase">Página web creada con WordPress durante mi estadía en ConsigueVentas, se realizó utilizando los plugins de elementor, royal elements y las tecnologías de HTML y CSS</p>
                                <p class="mt-3 mb-1 text-3xs font-sans text-gray-700 uppercase">Link de la página: <a href="https://360grass.consigueventas.com/" class="text-green-500 hover:text-green-700" target="_blank">360 GRASS</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-1/2">
                        <div class="relative h-full ml-0 md:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-lime-400 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-lime-400 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Aplicación web basada en el gestionamiento de un inventario de telas</h3>
                                </div>
                                <p class="mt-3 mb-1 text-3xs font-semibold text-gray-700 uppercase">Aplicación realizada por estudiantes de la UPC, utilizando el framework de Prime Vue para la parte del Frontend y el lenguaje de C# con ASP.NET Core para el Backend.</p>
                                <p class="mt-3 mb-1 text-3xs font-sans text-gray-700 uppercase">Link del repositorio de GitHub: <a href="https://github.com/orgs/si730-2402-ws53-WebApplications/repositories" class="text-lime-500 hover:text-lime-700" target="_blank">WeaveGuard</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full mb-10 sm:flex-row">
                    <div class="relative w-full mb-10 sm:mb-0 sm:w-1/2">
                        <div class="relative h-full ml-0 mr-0 sm:mr-10">
                            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-violet-500 rounded-lg -z-10"></span>
                            <div class="relative h-full p-5 bg-white border-2 border-violet-300 rounded-lg">
                                <div class="flex items-center -mt-1">
                                    <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Proyecto personal: Salvando vidas del Covid-19</h3>
                                </div>
                                <p class="mt-3 mb-1 text-3xs font-semibold text-gray-700 uppercase">Aplicación realizada con C# y C++ en Visual Studio 2022 como trabajo final; este trabajo trata sobre un videojuego donde tomamos el papel del doctor que debe eliminar a los virus de un hospital. La principal motivación del proyecto fue la ODS número 3: Salud y bienestar. El objetivo de este trabajo es concientizar, de manera creativa y dinámica, la importancia de mantenernos con buena salud.</p>
                                <p class="mt-3 mb-1 text-3xs font-sans text-gray-700 uppercase">Link del repositorio de GitHub: <a href="https://github.com/omele7/killthevirus.git" class="text-violet-500 hover:text-violet-700" target="_blank">KillTheVirus</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>