<div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5 py-8">
    <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">Contacto</h2>
    <p class="mb-12 text-lg text-gray-600">Puedes contactarme mediante mis redes sociales.</p>
    <div class="w-full">
        <div class="flex flex-col w-full mb-10 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-red-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-red-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Correo electrónico</h3>
                        </div>
                        <p class="mb-2 text-gray-600">Correo personal: dicabrerabuitron&#64;gmail.com</p>
                        <p class="mb-2 text-gray-600">Correo universitario: u20211b293&#64;upc.edu.pe</p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-blue-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">LinkedIn</h3>
                        </div>
                        <p class="mb-2 text-gray-600">Mi cuenta de LinkedIn: <a href="https://www.linkedin.com/in/diego-ivan-cabrera-buitron-912210263/" class="text-blue-500 hover:text-blue-700" target="_blank">Diego Cabrera</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full mb-5 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-green-400 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">WhatsApp</h3>
                        </div>
                        <p class="mb-2 text-gray-600">Número personal: <a href="https://wa.me/51994761659" class="text-green-500 hover:text-green-700" target="_blank">+51 994-761-659</a></p>
                    </div>
                </div>
            </div>
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-pink-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-pink-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Instagram</h3>
                        </div>
                        <p class="mb-2 text-gray-600">Mi cuenta de Instagram: <a href="https://www.instagram.com/diego.cabrerab/" class="text-pink-500 hover:text-pink-700" target="_blank">Diego Cabrera</a></p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-slate-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-slate-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">GitHub</h3>
                        </div>
                        <p class="mb-2 text-gray-600">Mi cuenta de GitHub: <a href="https://github.com/omele7" class="text-slate-500 hover:text-slate-700" target="_blank">omele7</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>